.country-details-map-container {
    background-color: #000022;
    width: 25vw;
    height: 19vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-details-map { 
  width: 100%; 
  height: 100%;
}
